---
layout: default
---

<section id="girafa" class="collapse" lang="ca" aria-expanded="false">
  <div class="container-fluid">
    {% include content-ca.html %}
  </div>
</section>

<section id="giraffe" class="collapse in" lang="en" aria-expanded="true">
  <div class="container-fluid">
    {% include content-en.html %}
  </div>
</section>

<section id="jirafa" class="collapse" lang="es" aria-expanded="false">
  <div class="container-fluid">
    {% include content-es.html %}
  </div>
</section>
