<div class="row">
  <div class="col-xs-12">
    <header>
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <h1><a href="#"><img src="objects/logo.svg" alt="I/O studio" title="I/O studio"></a></h1>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-es" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navigation-es">
          <ul class="nav navbar-nav">
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Proyecto</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#girafa" aria-controls="girafa" class="giraffa-camelopardalis-toggle" aria-expanded="false" class="giraffa-camelopardalis-toggle" data-parent="#giraffa-camelopardalis" data-toggle="collapse">Català</a></li>
            <li><a href="#giraffe" aria-controls="giraffe" class="giraffa-camelopardalis-toggle" aria-expanded="false" class="giraffa-camelopardalis-toggle" data-parent="#giraffa-camelopardalis" data-toggle="collapse">English</a></li>
          </ul>
        </div>
      </nav>
    </header>
  </div>
</div>

ES
