    </div>
    <script src="{{ site.url }}/scripts/bootstrap.min.js"></script>
    <script src='{{ site.url }}/scripts/jquery.mapkey.min.js'></script>
    <script src='{{ site.url }}/scripts/responsive-img.min.js'></script>
    <script src="{{ site.url }}/scripts/svgicons.js"></script>
    <script src="{{ site.url }}/scripts/main.js"></script>
    <script>
      var svgIconConfig = {
        hamburger : {
          url : '{{ site.url }}/objects/hamburger.svg',
          animation : [
            {
              el : 'path:nth-child(1)',
              animProperties : {
                from : { val : '{"path" : "m 5.0916789,20.818994 53.8166421,0"}' },
                to : { val : '{"path" : "M 12.972944,50.936147 51.027056,12.882035"}' }
              }
            },
            {
              el : 'path:nth-child(2)',
              animProperties : {
                from : { val : '{"transform" : "s1 1", "opacity" : 1}', before : '{"transform" : "s0 0"}' },
                to : { val : '{"opacity" : 0}' }
              }
            },
            {
              el : 'path:nth-child(3)',
              animProperties : {
                from : { val : '{"path" : "m 5.0916788,42.95698 53.8166422,0"}' },
                to : { val : '{"path" : "M 12.972944,12.882035 51.027056,50.936147"}' }
              }
            }
          ]
        }
      };
      (function() {
        [].slice.call( document.querySelectorAll('.navbar button > span') ).forEach( function( el ) {
          var svgicon = new svgIcon( el, svgIconConfig, {
            speed : 200,
            easing : mina.linear,
            evtoggle : 'click',
            size : { w : 40, h : 40 },
            onLoad : function() { return false; },
            onToggle : function() { return false; }
          });
        });
      })();
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-59941852-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
