<div class="row">
  <div class="col-xs-12">
    <header>
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <h1><a href="#"><img src="objects/logo.svg" alt="I/O studio" title="I/O studio"></a></h1>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-jirafa" aria-expanded="false">
            <span data-icon-name="hamburger"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navigation-jirafa">
          <ul class="nav navbar-nav">
            <li><a href="#さん-jirafa">Proyectos</a></li>
            <li><a href="#ご-jirafa">Contacto</a></li>
            <li>
              <a href="#girafa" aria-controls="girafa" aria-expanded="false" class="giraffa-camelopardalis-toggle" data-parent="#giraffa-camelopardalis" data-toggle="collapse" alt="Català">
                <abbr data-container="body" data-html="true" data-placement="top" data-toggle="tooltip" title="Hola!">CAT</abbr>
              </a>
            </li>
            <li>
              <a href="#giraffe" aria-controls="giraffe" aria-expanded="false" class="giraffa-camelopardalis-toggle" data-parent="#giraffa-camelopardalis" data-toggle="collapse" alt="English">
                <abbr data-container="body" data-html="true" data-placement="top" data-toggle="tooltip" title="Hola!">ENG</abbr>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </div>
</div>
