@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);
.libre-baskerville-bold {
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: 700;
}
.libre-baskerville-italic {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-weight: 400;
}
.libre-baskerville-normal {
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: 400;
}
.font-family-base {
  font-family: 'Libre Baskerville', serif;
}
.font-family-monospace {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.font-family-sans-serif {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.font-family-serif {
  font-family: 'Libre Baskerville', serif;
}
.bold {
  font-style: normal;
  font-weight: 700;
}
.normal {
  font-style: normal;
  font-weight: 400;
}
.oblique {
  font-style: oblique;
  font-weight: normal;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.hidden {
  display: none;
}
.list-style-none {
  list-style-type: none;
}
.no-repeat {
  background-repeat: no-repeat;
}
.table {
  display: table;
}
.vertical-centering {
  vertical-align: middle;
  display: table-cell;
}
.zero {
  margin: 0;
  padding: 0;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
* {
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px transparent;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.01);
}
.flip {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: "FlipH";
  filter: FlipH;
}
.opaque {
  opacity: 1;
  filter: alpha(opacity=100);
}
.translucent {
  opacity: 0.50;
  filter: alpha(opacity=50);
}
.transparent {
  opacity: 0;
  filter: alpha(opacity=0);
}
.transition {
  -webkit-backface-visibility: hidden;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: .32s;
  animation-duration: .32s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}
@keyframes fadeIn {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1;
  }
}
::selection {
  background-color: #fffab2;
  color: #000000;
}
::-moz-selection {
  background-color: #fffab2;
  color: #000000;
}
mark {
  background-color: #fffab2;
}
.container.collapsing {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: .32s;
  animation-duration: .32s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-transition: none;
  transition: none;
}
@media (min-width: 480px) {
  body {
    padding: 0;
  }
  #read-more > div > div {
    padding-bottom: 0;
  }
  #read-more > div > div:last-of-type {
    padding-bottom: 32px;
  }
}
@media (min-width: 768px) {
  body {
    padding: 64px 0;
  }
  #read-more > div > div {
    padding-bottom: 0;
  }
  #read-more > div > div:last-of-type {
    padding-bottom: 32px;
  }
}
@media (min-width: 992px) {
  body {
    padding: 64px 0;
  }
  #read-more > div > div {
    padding-bottom: 32px;
  }
}
@media (min-width: 1200px) {
  body {
    padding: 64px 0;
  }
  #read-more > div > div {
    padding-bottom: 32px;
  }
}
/* The Grid System
 *
 * .col-md-12
 * .col-md-12
 * .col-md-6 + .col-md-6
 * .col-md-12
 *
 */
html {
  height: 100%;
  background-color: #ffffff;
  font-size: 62.5%;
  /* Sets up the Base 10 stuff */

}
html body {
  height: 100%;
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: 1.6rem;
  background-color: #ffffff;
  color: #000000;
  overflow: auto;
}
html body a,
html body a:active,
html body a:link,
html body a:visited {
  color: #292929;
  text-decoration: underline;
}
html body a:hover {
  color: #7a7a7a;
}
html body header {
  margin: 32px 0;
}
html body header .header-main {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
html body header .header-main hgroup {
  text-transform: uppercase;
}
html body header .header-main hgroup h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  font-size: 3.2rem;
}
html body header .header-main hgroup h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  font-size: 2.2rem;
}
html body header .header-main hgroup h2 a[href="#llegir-mes"],
html body header .header-main hgroup h2 a[href="#read-more"],
html body header .header-main hgroup h2 a[href="#leer-mas"] {
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: 1.6rem;
  text-transform: capitalize;
}
html body #llegir-mes h2,
html body #read-more h2,
html body #leer-mas h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.8rem;
  margin: 32px 0;
  text-transform: uppercase;
}
html body #main {
  overflow: auto;
  margin-bottom: 32px;
}
html body #main #content h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.8rem;
  margin: 32px 0;
  text-transform: uppercase;
}
html body footer {
  margin: 32px 0;
  overflow: auto;
}
html body footer address strong {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: 1.6rem;
  text-transform: uppercase;
}
html body footer .site-info {
  display: none;
}
