@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);
.libre-baskerville-bold {
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: 700;
}
.libre-baskerville-italic {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-weight: 400;
}
.libre-baskerville-normal {
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: 400;
}
.font-family-base {
  font-family: 'Libre Baskerville', serif;
}
.font-family-monospace {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.font-family-sans-serif {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.font-family-serif {
  font-family: 'Libre Baskerville', serif;
}
.bold {
  font-style: normal;
  font-weight: 700;
}
.normal {
  font-style: normal;
  font-weight: 400;
}
.oblique {
  font-style: oblique;
  font-weight: normal;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.hidden {
  display: none;
}
.list-style-none {
  list-style-type: none;
}
.no-repeat {
  background-repeat: no-repeat;
}
.table {
  display: table;
}
.vertical-centering {
  vertical-align: middle;
  display: table-cell;
}
.zero {
  margin: 0;
  padding: 0;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
* {
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px transparent;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.01);
}
.flip {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: "FlipH";
  filter: FlipH;
}
.opaque {
  opacity: 1;
  filter: alpha(opacity=100);
}
.translucent {
  opacity: 0.50;
  filter: alpha(opacity=50);
}
.transparent {
  opacity: 0;
  filter: alpha(opacity=0);
}
.transition {
  -webkit-backface-visibility: hidden;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}
