@import url('base.less');

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
// BEGIN OF: HTML

html {
	background-color: @white;
	font-size: 62.5%; /* Sets up the Base 10 stuff */
	
	////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////
	// BEGIN OF: BODY
	
	body {
		.hidden;
		background-color: @white;
		
		////////////////////////////////////////////////////////////////
		////////////////////////////////////////////////////////////////
		// BEGIN OF: HEADER
		
		> header {
			
			> .header-main {
				
				#primary-navigation {
	
                    > ul {
                        .zero;
                        list-style-type: none;
                        overflow: auto;
                        text-align: center;
                        width: auto;

                        > li {
                            .font-size(1.6);
                            .libre-baskerville-normal;
                            display: inline-block;

                            > a, a:active, a:link, a:visited {
                                .transition;
                                color: lighten(@black, 64%);
                                display: block;
                                padding: 0.4rem 0.8rem;
                                text-decoration: none;
                            }

                            > a:hover {
                                color: lighten(@black, 16%);
                            }
                        }
                    }
				}
			}
		}
		
		////////////////////////////////////////////////////////////////
		////////////////////////////////////////////////////////////////
		// END OF: HEADER
		
		////////////////////////////////////////////////////////////////
		////////////////////////////////////////////////////////////////
		// BEGIN OF: MAIN
		
		> #main {
			margin: 0 auto;
            padding: 16% 0;
			width: 80%;
			
			#content {
                .font-size(1.6);
				.libre-baskerville-normal;
                text-align: center;
			}
		}
		
		////////////////////////////////////////////////////////////////
		////////////////////////////////////////////////////////////////
		// END OF: MAIN
		
		////////////////////////////////////////////////////////////////
		////////////////////////////////////////////////////////////////
		// BEGIN OF: FOOTER
		
		> footer {
			
			.site-info {
				.font-size(1.4);
				.libre-baskerville-italic;
				text-align: center;
				
				a, a:active, a:link, a:visited {
					color: lighten(@black, 64%);
					text-decoration: none;
				}
				
				a:hover {
					color: lighten(@black, 16%);
				}
			}
		}
		
		////////////////////////////////////////////////////////////////
		////////////////////////////////////////////////////////////////
		// END OF: FOOTER
		
	}
	
	////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////
	// END OF: BODY
	
}

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
// END OF: HTML

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////