// compress: false, main: main.less

@import url('base.less');

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////// THIS IS THE BEGINNING

.no-backgroundblendmode,
.no-svg {

  .project-thumbnail {

    > a {
      mix-blend-mode: normal !important;

      &.fresh {
        .hide !important;
      }

      &.fallback {
        .show !important;
      }

      img {
        mix-blend-mode: normal !important;
      }
    }
  }

  ////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////

  .navbar-header {

    h1 {

      a {

        img {

          &:nth-of-type(1) {
            .hide !important;
          }

          &:nth-of-type(2) {
            .show !important;
          }

          &:nth-of-type(3) {
            .hide !important;
          }
        }
      }
    }

    button {

      span {
        position: relative !important;

        &:hover {

          .menu-default {
            .hide !important;
          }

          .menu-over {
            .show !important;
          }
        }

        img {
          .show !important;
          .transition !important;

          &.menu-default {
            .show !important;
          }

          &.menu-over {
            .hide !important;
          }

          &.menu-active {
            .hide !important;
          }
        }

        svg {
          .hide !important;
        }
      }
    }
  }

  .scroll-to-top {

    svg {
      .hide !important;
    }

    &:hover {
      opacity: 1 !important;

      img {
        -webkit-transform: translateY(0) !important;
           -moz-transform: translateY(0) !important;
                transform: translateY(0) !important;
      }
    }

    img {
      .show !important;
      .transition !important;
      height: 40px; width: 40px !important;
      margin: 0 auto !important;

      -webkit-transform: translateY(5px) !important;
         -moz-transform: translateY(5px) !important;
              transform: translateY(5px) !important;
    }
  }
}

@media (min-width: 375px) {

  .no-backgroundblendmode,
  .no-svg {

    .navbar-header {

      h1 {

        a {

          img {

            &:nth-of-type(1) {
              .hide !important;
            }

            &:nth-of-type(2) {
              .hide !important;
            }

            &:nth-of-type(3) {
              .show !important;
            }
          }
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

.f_cking-iphone,
.backgroundblendmode,
.svg {

  .project-thumbnail {

    > a {

      &.fresh {
        .show !important;
      }

      &.fallback {
        .hide !important;
      }
    }
  }

  ////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////

  .navbar-header {

    h1 {

      a {

        img {

          &.fallback {
            .hide !important;
          }
        }
      }
    }

    button {

      span {

        svg {
          .show !important;
        }

        img {
          .hide !important;
        }
      }
    }
  }

  .scroll-to-top {

    img {
      .hide !important;
    }
  }
}

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
//////////////////////////////////////////////// THIS IS THE END
