@import url('base.less');

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

::selection {
  background-color: @black;
  color: @white;
}

::-moz-selection {
  background-color: @black;
  color: @white;
}

section.collapsing {
  //.fadeIn;
  -webkit-transition: none;
          transition: none
}

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

html {
  
  body {
    .font-family-normal;
    font-size: 19px;

    header {

      h1 {
      }
    }
    
    main {
      
      section {
        
        a,
        a:active,
        a:link,
        a:visited {
        }
        
        aside {
          
          strong {
            .font-family-bold;
          }
        }
        
        a:focus,
        a:hover {
        }
        
        h2 {
        }
        
        p {
        }
      }
    }
  }
}