@import url('fonts.css');
.font-family-bold {
  font-family: 'BrixSans';
  font-weight: bold;
  font-style: normal;
}
.font-family-normal {
  font-family: 'BrixSlab';
  font-weight: normal;
  font-style: normal;
}
* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px transparent;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.01);
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.hidden {
  display: none;
}
.list-style-none {
  list-style-type: none;
}
.no-repeat {
  background-repeat: no-repeat;
}
.table {
  display: table;
}
.vertical-centering {
  vertical-align: middle;
  display: table-cell;
}
.zero {
  margin: 0;
  padding: 0;
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: .32s;
  animation-duration: .32s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}
@keyframes fadeIn {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1;
  }
}
.flip {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: "FlipH";
  filter: FlipH;
}
.opaque {
  opacity: 1;
  filter: alpha(opacity=100);
}
.translucent {
  opacity: 0.50;
  filter: alpha(opacity=50);
}
.transparent {
  opacity: 0;
  filter: alpha(opacity=0);
}
.transition {
  -webkit-backface-visibility: hidden;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}
/*
 * Useful Bootstrap variables for media queries made available for main.less.
 */
/*
 * A helper mixin for applying high-resolution background images.
 * http://www.retinajs.com
 */
/* Global or main styles. */
::selection {
  background-color: #d3d6d4;
  color: #212322;
}
::-moz-selection {
  background-color: #d3d6d4;
  color: #212322;
}
section.collapsing {
  -webkit-transition: none;
  transition: none;
}
#boojum {
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 100%;
  position: absolute;
  top: 0;
  /* right: 0; bottom: 0; */
  left: 0;
  width: 100%;
  z-index: -1;
}
#boojum {
  background-image: url('../images/W&1404.png');
}
#title {
  background-repeat: no-repeat;
  background-size: 100% auto;
}
#title {
  background-image: url('../images/logo.png');
}
.container {
  padding-left: 0;
  padding-right: 0;
}
.container > hr:first-of-type {
  background: transparent;
}
.lead {
  letter-spacing: 0.2px;
  margin: 0;
  margin-bottom: -2px;
  /* border-bottom thickness is deducted */

  text-transform: uppercase;
}
.lead a,
.lead a:active,
.lead a:link,
.lead a:visited {
  border-bottom-width: 2px;
  border-bottom-color: #212322;
  padding-bottom: 0;
}
.lead a:focus,
.lead a:hover {
  -webkit-backface-visibility: hidden;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  border-bottom-color: #b9bdbb;
  color: #9fa4a2;
}
.lead del:after,
.lead s:after,
.lead strike:after {
  border-bottom: 2px solid #212322;
}
html body {
  font-family: 'BrixSlab';
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
html body a,
html body a:active,
html body a:link,
html body a:visited {
  border-bottom-width: 1px;
  border-bottom-color: #858c88;
  border-bottom-style: solid;
  color: #212322;
  padding-bottom: 1px;
  text-decoration: none;
}
html body a:focus,
html body a:hover {
  -webkit-backface-visibility: hidden;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  border-bottom-color: #b9bdbb;
  color: #9fa4a2;
}
html body abbr {
  white-space: nowrap;
}
html body address {
  line-height: inherit;
}
html body header h1 {
  font-size: 0px;
  font-size: 0rem;
  line-height: 0px;
  line-height: 0rem;
  margin: 0;
  padding: 0;
  display: block;
}
html body hr {
  font-size: 0px;
  font-size: 0rem;
  line-height: 0px;
  line-height: 0rem;
  margin: 0;
  padding: 0;
  background: #212322;
  border: 0;
  color: #212322;
  height: 1px;
}
html body main {
  position: relative;
  /* support position: absolute for child elements */

}
html body main section *:last-child {
  margin-bottom: 0;
  /* avoid <p> or <address> or other block elemements at the bottom incrase margin */

}
html body main section aside strong {
  font-family: 'BrixSans';
  font-weight: bold;
  font-style: normal;
  display: block;
  letter-spacing: 0.2px;
}
html body main section aside small {
  font-family: 'BrixSans';
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}
html body main section aside small a,
html body main section aside small a:active,
html body main section aside small a:link,
html body main section aside small a:visited {
  border-bottom-width: 0;
  padding-bottom: 0;
}
html body main section h2 {
  font-family: 'BrixSans';
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  margin: 0;
}
html body del,
html body strike,
html body s {
  color: #212322;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}
html body del:after,
html body s:after,
html body strike:after {
  content: "";
  position: absolute;
}
/* Default styles for extra-small devices. No media query since 
   this is the default in Bootstrap.                          */
section > div:nth-of-type(2) {
  margin-top: -25px;
  /* <h2> margin-top is absorbed */

}
.lead {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 26px;
  line-height: 2.6rem;
  color: red;
}
.lead del:after,
.lead s:after,
.lead strike:after {
  right: 0;
  bottom: 10px;
  left: 0;
}
html body {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 18px;
  line-height: 1.8rem;
  margin-top: 25px;
}
html body header {
  margin-bottom: 0;
  padding-left: 25px;
  padding-right: 25px;
}
html body header h1 {
  width: 136px;
  height: 50px;
  /* fixed size for <svg> calc the % from */

}
html body hr {
  margin: 25px 0;
}
html body main {
  margin-top: -25px;
  /* <hr> margin-bottom is deducted */

  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  /* Please, don't come to tell me I can use padding: 25px instead. */

}
html body main section aside strong {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 18px;
  line-height: 1.8rem;
  margin-bottom: 6px;
}
html body main section h2 {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 19px;
  line-height: 1.9rem;
  margin-bottom: 22px;
  margin-top: 25px;
}
html body main section hr:nth-of-type(1) {
  margin-bottom: 25px;
}
html body main section p {
  margin-bottom: 12px;
}
html body small {
  font-size: 9px;
  font-size: 0.9rem;
  line-height: 18px;
  line-height: 1.8rem;
}
/* Gracefully changing styles distributed in media queries.   */
/* extra-small ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (min-width: 480px) {
  section > div:nth-of-type(2) {
    margin-top: -35px;
    /* <h2> margin-top is absorbed */
  
  }
  .lead {
    font-size: 28px;
    font-size: 2.8rem;
    line-height: 36px;
    line-height: 3.6rem;
    color: green;
  }
  .lead del:after,
  .lead s:after,
  .lead strike:after {
    right: 0;
    bottom: 16px;
    left: 0;
  }
  html body {
    font-size: 20px;
    font-size: 2rem;
    line-height: 26px;
    line-height: 2.6rem;
    margin-top: 35px;
  }
  html body header {
    margin-bottom: 0;
    padding-left: 35px;
    padding-right: 35px;
  }
  html body header h1 {
    width: 204px;
    height: 74px;
    /* fixed size for <svg> calc the % from */
  
  }
  html body hr {
    margin: 35px 0;
  }
  html body main {
    margin-top: -35px;
    /* <hr> margin-bottom is deducted */
  
    padding-top: 35px;
    padding-right: 35px;
    padding-bottom: 35px;
    padding-left: 35px;
    /* Please, don't come to tell me I can use padding: 35px instead. */
  
  }
  html body main section aside strong {
    font-size: 20px;
    font-size: 2rem;
    line-height: 26px;
    line-height: 2.6rem;
    margin-bottom: 9px;
  }
  html body main section h2 {
    font-size: 20px;
    font-size: 2rem;
    line-height: 26px;
    line-height: 2.6rem;
    margin-bottom: 33px;
    margin-top: 35px;
  }
  html body main section hr:nth-of-type(1) {
    margin-bottom: 35px;
  }
  html body main section p {
    margin-bottom: 18px;
  }
  html body small {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 26px;
    line-height: 2.6rem;
  }
}
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ /extra-small */
/* small ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (min-width: 768px) {
  section > div:nth-of-type(2) {
    margin-top: 50px;
    /* <h2> margin-top is absorbed */
  
  }
  .lead {
    font-size: 32px;
    font-size: 3.2rem;
    line-height: 40px;
    line-height: 4rem;
    color: blue;
  }
  .lead del:after,
  .lead s:after,
  .lead strike:after {
    right: 0;
    bottom: 18px;
    left: 0;
  }
  html body {
    font-size: 26px;
    font-size: 2.6rem;
    line-height: 32px;
    line-height: 3.2rem;
    margin-top: 50px;
  }
  html body header {
    margin-bottom: 0;
    padding-left: 50px;
    padding-right: 50px;
  }
  html body header h1 {
    width: 147px;
    height: 54px;
    /* fixed size for <svg> calc the % from */
  
  }
  html body hr {
    margin: 50px 0;
  }
  html body main {
    margin-top: -50px;
    /* <hr> margin-bottom is deducted */
  
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    /* Please, don't come to tell me I can use padding: 35px instead. */
  
  }
  html body main section aside strong {
    font-size: 26px;
    font-size: 2.6rem;
    line-height: 32px;
    line-height: 3.2rem;
    margin-bottom: 12px;
  }
  html body main section h2 {
    font-size: 26px;
    font-size: 2.6rem;
    line-height: 32px;
    line-height: 3.2rem;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  html body main section hr:nth-of-type(1) {
    margin-bottom: -50px;
  }
  html body main section p {
    margin-bottom: 24px;
  }
  html body small {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 32px;
    line-height: 3.2rem;
  }
}
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ /small */
/* medium ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (min-width: 992px) {
  section > div:nth-of-type(2) {
    margin-top: -50px;
    /* <h2> margin-top is absorbed */
  
  }
  .lead {
    font-size: 27px;
    font-size: 2.7rem;
    line-height: 36px;
    line-height: 3.6rem;
    color: yellow;
  }
  .lead del:after,
  .lead s:after,
  .lead strike:after {
    right: 0;
    bottom: 10px;
    left: 0;
  }
  html body {
    font-size: 19px;
    font-size: 1.9rem;
    line-height: 25px;
    line-height: 2.5rem;
    margin-top: 50px;
  }
  html body header {
    margin-bottom: 82px;
    /* add additional pixels to header margin so it's equal to <h1> height */
  
    padding-left: 50px;
    padding-right: 50px;
  }
  html body header h1 {
    width: 225px;
    height: 82px;
    /* fixed size for <svg> calc the % from */
  
  }
  html body hr {
    margin: 50px 0;
  }
  html body main {
    margin-top: -50px;
    /* <hr> margin-bottom is deducted */
  
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    /* Please, don't come to tell me I can use padding: 50px instead. */
  
  }
  html body main section aside strong {
    font-size: 20px;
    font-size: 2rem;
  }
  html body main section h2 {
    font-size: 26px;
    font-size: 2.6rem;
    line-height: 32px;
    line-height: 3.2rem;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  html body main section p {
    margin-bottom: 20px;
  }
  html body small {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 20px;
    line-height: 2rem;
  }
}
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ /medium */
/* large ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (min-width: 1200px) {
  section > div:nth-of-type(2) {
    margin-top: -50px;
    /* <h2> margin-top is absorbed */
  
  }
  .lead {
    font-size: 27px;
    font-size: 2.7rem;
    line-height: 36px;
    line-height: 3.6rem;
    color: magenta;
  }
  .lead del:after,
  .lead s:after,
  .lead strike:after {
    right: 0;
    bottom: 10px;
    left: 0;
  }
  html body {
    font-size: 19px;
    font-size: 1.9rem;
    line-height: 25px;
    line-height: 2.5rem;
    margin-top: 50px;
  }
  html body header {
    margin-bottom: 54px;
    /* add additional pixels to header margin so it's equal to <h1> height */
  
    padding-left: 50px;
    padding-right: 50px;
  }
  html body header h1 {
    width: 147px;
    height: 54px;
    /* fixed size for <svg> calc the % from */
  
  }
  html body hr {
    margin: 50px 0;
  }
  html body main {
    margin-top: -50px;
    /* <hr> margin-bottom is deducted */
  
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    /* Please, don't come to tell me I can use padding: 50px instead. */
  
  }
  html body main section aside strong {
    font-size: 20px;
    font-size: 2rem;
  }
  html body main section h2 {
    font-size: 26px;
    font-size: 2.6rem;
    line-height: 32px;
    line-height: 3.2rem;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  html body main section p {
    margin-bottom: 20px;
  }
  html body small {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 20px;
    line-height: 2rem;
  }
}
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ /large */
