@import url('base.less');

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

/* Global or main styles. */

::selection {
  background-color: lighten(@black, 70%);
  color: @black;
}

::-moz-selection {
  background-color: lighten(@black, 70%);
  color: @black;
}

section.collapsing {
  //.fadeIn;
  -webkit-transition: none;
          transition: none
}

#boojum {
  //background-image: url('../objects/W&1404.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 100%;
  position: absolute;
  top: 0; /* right: 0; bottom: 0; */ left: 0;
  width: 100%;
  z-index: -1;
}

//.no-svg
#boojum {
  background-image: url('../images/W&1404.png');
}

#title {
  //background-image: url('../objects/logo.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

//.no-svg
#title {
  background-image: url('../images/logo.png');
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.container > hr:first-of-type {
  background: transparent;
}

.lead {
  letter-spacing: 0.2px;
  margin: 0;
  margin-bottom: -2px; /* border-bottom thickness is deducted */
  text-transform: uppercase;

  a,
  a:active,
  a:link,
  a:visited {
    border-bottom-width: 2px;
    border-bottom-color: @black;
    padding-bottom: 0;
  }
  
  a:focus,
  a:hover {
    .transition;
    border-bottom-color: lighten(@black, 60%);
    color: lighten(@black, 50%);
  }

  del:after,
  s:after,
  strike:after {
    border-bottom: 2px solid @black;
  }
}

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

html {

  body {
    .font-family-normal;
    margin: 0;

    a,
    a:active,
    a:link,
    a:visited {
      border-bottom-width: 1px;
      border-bottom-color: lighten(@black, 40%);
      border-bottom-style: solid;
      color: @black;
      padding-bottom: 1px;
      text-decoration: none;
    }

    a:focus,
    a:hover {
      .transition;
      border-bottom-color: lighten(@black, 60%);
      color: lighten(@black, 50%);
    }

    abbr {
      white-space: nowrap;
    }
    
    address {
      line-height: inherit;
    }

    header {

      h1 {
        .font-size(0);
        .line-height(0);
        .zero;
        display: block;
      }
    }

    hr {
      .font-size(0);
      .line-height(0);
      .zero;
      background: @black;
      border: 0;
      color: @black;
      height: 1px;
    }

    main {
      position: relative; /* support position: absolute for child elements */

      section {
        
        *:last-child {
          margin-bottom: 0; /* avoid <p> or <address> or other block elemements at the bottom incrase margin */
        }

        aside {

          strong {
            .font-family-bold;
            display: block;
            letter-spacing: 0.2px;
          }

          small {
            .font-family-bold;
            text-transform: uppercase;

            a,
            a:active,
            a:link,
            a:visited {
              border-bottom-width: 0;
              padding-bottom: 0;
            }
          }
        }

        h2 {
          .font-family-bold;
          text-transform: uppercase;
          letter-spacing: 0.2px;
          margin: 0;
        }
      }
    }

    del,
    strike,
    s {
      color: @black;
      position: relative;
      text-decoration: none;
      white-space: nowrap;
    }

    del:after,
    s:after,
    strike:after {
      content: "";
      position: absolute;
    }

    small {
    }
  }
}

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

/* Default styles for extra-small devices. No media query since 
   this is the default in Bootstrap.                          */

section > div:nth-of-type(2) {
  margin-top: -25px; /* <h2> margin-top is absorbed */
}

.lead {
  .font-size(1.8);
  .line-height(2.6);
  color: red;
  
  del:after,
  s:after,
  strike:after {
    right: 0; bottom: 10px; left: 0;
  }
}

//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////

html {

  body {
    .font-size(1.3);
    .line-height(1.8);
    margin-top: 25px;

    header {
      margin-bottom: 0;
      padding-left: 25px;
      padding-right: 25px;

      h1 {
        width: 136px; /* fixed size for <svg> calc the % from */
        height: 50px; /* fixed size for <svg> calc the % from */
      }
    }
    
    hr {
      margin: 25px 0;
    }

    main {
      margin-top: -25px; /* <hr> margin-bottom is deducted */
      padding-top: 25px; padding-right: 25px; padding-bottom: 25px; padding-left: 25px; /* Please, don't come to tell me I can use padding: 25px instead. */

      section {

        aside {

          strong {
            .font-size(1.3);
            .line-height(1.8);
            margin-bottom: 6px;
          }
        }

        h2 {
          .font-size(1.3);
          .line-height(1.9);
          margin-bottom: 22px;
          margin-top: 25px;
        }
        
        hr:nth-of-type(1) {
            margin-bottom: 25px;
          }
        
        p {
          margin-bottom: 12px;
        }
      }
    }

    small {
      .font-size(0.9);
      .line-height(1.8);
    }
  }
}

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

/* Gracefully changing styles distributed in media queries.   */

/* extra-small ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media (min-width: @screen-xs-min) {

  section > div:nth-of-type(2) {
    margin-top: -35px; /* <h2> margin-top is absorbed */
  }
  
  .lead {
    .font-size(2.8);
    .line-height(3.6);
    color: green;
    
    del:after,
    s:after,
    strike:after {
      right: 0; bottom: 16px; left: 0;
    }
  }

  //////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////

  html {

    body {
      .font-size(2.0);
      .line-height(2.6);
      margin-top: 35px;

      header {
        margin-bottom: 0;
        padding-left: 35px;
        padding-right: 35px;

        h1 {
          width: 204px; /* fixed size for <svg> calc the % from */
          height: 74px; /* fixed size for <svg> calc the % from */
        }
      }
      
      hr {
        margin: 35px 0;
      }

      main {
        margin-top: -35px; /* <hr> margin-bottom is deducted */
        padding-top: 35px; padding-right: 35px; padding-bottom: 35px; padding-left: 35px; /* Please, don't come to tell me I can use padding: 35px instead. */

        section {

          aside {

            strong {
              .font-size(2.0);
              .line-height(2.6);
              margin-bottom: 9px;
            }
          }

          h2 {
            .font-size(2.0);
            .line-height(2.6);
            margin-bottom: 33px;
            margin-top: 35px;
          }
          
          hr:nth-of-type(1) {
            margin-bottom: 35px;
          }
          
          p {
            margin-bottom: 18px;
          }
        }
      }

      small {
        .font-size(1.6);
        .line-height(2.6);
      }
    }
  }
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ /extra-small */

/* small ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media (min-width: @screen-sm-min) {

  section > div:nth-of-type(2) {
    margin-top: 50px; /* <h2> margin-top is absorbed */
  }
  
  .lead {
    .font-size(3.2);
    .line-height(4.0);
    color: blue;
    
    del:after,
    s:after,
    strike:after {
      right: 0; bottom: 18px; left: 0;
    }
  }

  //////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////

  html {

    body {
      .font-size(2.6);
      .line-height(3.2);
      margin-top: 50px;

      header {
        margin-bottom: 0;
        padding-left: 50px;
        padding-right: 50px;

        h1 {
          width: 147px; /* fixed size for <svg> calc the % from */
          height: 54px; /* fixed size for <svg> calc the % from */
        }
      }
      
      hr {
        margin: 50px 0;
      }
      
      main {
        margin-top: -50px; /* <hr> margin-bottom is deducted */
        padding-top: 50px; padding-right: 50px; padding-bottom: 50px; padding-left: 50px; /* Please, don't come to tell me I can use padding: 35px instead. */

        section {

          aside {

            strong {
              .font-size(2.6);
              .line-height(3.2);
              margin-bottom: 12px;
            }
          }

          h2 {
            .font-size(2.6);
            .line-height(3.2);
            margin-bottom: 50px;
            margin-top: 50px;
          }
          
          hr:nth-of-type(1) {
            margin-bottom: -50px;
          }
          
          p {
            margin-bottom: 24px;
          }
        }
      }

      small {
        .font-size(2.2);
        .line-height(3.2);
      }
    }
  }
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ /small */

/* medium ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media (min-width: @screen-md-min) {

  section > div:nth-of-type(2) {
    margin-top: -50px; /* <h2> margin-top is absorbed */
  }
  
  .lead {
    .font-size(2.7);
    .line-height(3.6);
    color: yellow;
    
    del:after,
    s:after,
    strike:after {
      right: 0; bottom: 10px; left: 0;
    }
  }

  //////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////

  html {

    body {
      .font-size(1.9);
      .line-height(2.5);
      margin-top: 50px;

      header {
        margin-bottom: 50px + 32; /* add additional pixels to header margin so it's equal to <h1> height */
        padding-left: 50px;
        padding-right: 50px;

        h1 {
          width: 225px; /* fixed size for <svg> calc the % from */
          height: 82px; /* fixed size for <svg> calc the % from */
        }
      }
      
      hr {
        margin: 50px 0;
      }

      main {
        margin-top: -50px; /* <hr> margin-bottom is deducted */
        padding-top: 50px; padding-right: 50px; padding-bottom: 50px; padding-left: 50px; /* Please, don't come to tell me I can use padding: 50px instead. */

        section {

          aside {

            strong {
              .font-size(2.0);
            }
          }

          h2 {
            .font-size(2.6);
            .line-height(3.2);
            margin-bottom: 50px;
            margin-top: 50px;
          }
          
          p {
            margin-bottom: 20px;
          }
        }
      }

      small {
        .font-size(1.4);
        .line-height(2.0);
      }
    }
  }
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ /medium */

/* large ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media (min-width: @screen-lg-min) {

  section > div:nth-of-type(2) {
    margin-top: -50px; /* <h2> margin-top is absorbed */
  }
  
  .lead {
    .font-size(2.7);
    .line-height(3.6);
    color: magenta;
    
    del:after,
    s:after,
    strike:after {
      right: 0; bottom: 10px; left: 0;
    }
  }

  //////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////

  html {

    body {
      .font-size(1.9);
      .line-height(2.5);
      margin-top: 50px;

      header {
        margin-bottom: 50px + 4; /* add additional pixels to header margin so it's equal to <h1> height */
        padding-left: 50px;
        padding-right: 50px;

        h1 {
          width: 147px; /* fixed size for <svg> calc the % from */
          height: 54px; /* fixed size for <svg> calc the % from */
        }
      }
      
      hr {
        margin: 50px 0;
      }

      main {
        margin-top: -50px; /* <hr> margin-bottom is deducted */
        padding-top: 50px; padding-right: 50px; padding-bottom: 50px; padding-left: 50px; /* Please, don't come to tell me I can use padding: 50px instead. */

        section {

          aside {

            strong {
              .font-size(2.0);
            }
          }

          h2 {
            .font-size(2.6);
            .line-height(3.2);
            margin-bottom: 50px;
            margin-top: 50px;
          }
          
          p {
            margin-bottom: 20px;
          }
        }
      }

      small {
        .font-size(1.4);
        .line-height(2.0);
      }
    }
  }
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ /large */

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
